<h1>
Edit Your Profile
</h1>


<form action="/profile/edit" method="POST" enctype="multipart/form-data">

  <label for="username">Username: </label>
  <input id="username" type="text" name="username">
  <br><br>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password">
  <br><br>
  <label for="email">Email: </label>
  <input id="email" type="text" name="email">
  <br><br>
  <label for="firstname">First name: </label>
  <input id="firstname" type="text" name="firstname">
  <br><br>
  <label for="lastname">Last name: </label>
  <input id="lastname" type="text" name="lastname">  
  <br><br>
  <label for="address">Address: </label>
  <input id="address" type="text" name="address">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

</form>