<h1>Create a new menu item!</h1>


<form action="/items/create" method="post" enctype="multipart/form-data">

<label for"">Name: </label>
<input type="text" name="name">

<label>Image: </label>
<input type="file" name="photo">

<label for"">Description: </label>
<input type="text" name="description">
{{!-- 
<label for"">Ingredients: </label>
<input type="text" name="ingredients"> --}}

<label for"">Price: </label>
<input type="float" name="price">

<button>Submit</button>




</form>