<br>
Order our handcrafted meals online! Choose from any of your favorite selections,
and have it delivered straight to your doorstep!
<br>
{{#if user}}
<br>
  <div>
    To learn more, take a look at our <a href="/items">menu</a>
  </div>
{{/if}}

<hr><br>


<form action="/items/create" method="post" enctype="multipart/form-data">

<label for"">Name: </label>
<input type="text" name="name">

<label>Image: </label>
<input type="file" name="photo">

<label for"">Description: </label>
<input type="text" name="description">
{{!-- 
<label for"">Ingredients: </label>
<input type="text" name="ingredients"> --}}

<label for"">Price: </label>
<input type="float" name="price">

<button>Submit</button>




</form>