<div class="error">

<h1>Ruh Roh!</h1>

<br>

<p>Seems like an error popped up. If you're trying to order, make
  sure you have some items in your cart. If you were posting
  or editing a menu item, make sure all of the fields were
  filled in!
</p>

</div>