<div class="home">


<div class="index-content">

      <h1>Welcome to Vita's Italian Restaurant!</h1>

      <p>Vita Italian Restaurant & Pizza has been family owned and operated in Cooper City since 1982. We are celebrating over 47 years in the business this year!

      We are proud to be part of the Cooper City, Davie, Weston, Pembroke Pines community. We truly appreciate your support! 

      We offer eat-in, take-out, and catering for all occasions! 
      </p>

</div>

</div>