<div class="profile create-review">

<h1>Let us know what you think!</h1>


<form action="/reviews/create" method="post">

<label for"">Name: </label>
<br>
<input type="text" name="commenter">
<br><hr>

<label for"">Headline: </label> <br>
<input type="text" name="title">
<br><hr>

<label for"">Review: </label> <br>
<input type="text" name="review" size = "150">
<br><hr>

<label for"">Rating (out of 5): </label> <br>
<input type="number" name="rating">
<br><hr>

<button>Submit</button>




</form>

</div>